<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/styles.css">

        <title>Buscar</title>
    </head>
    <body>
        <div class="container-float">
            <nav class="navbar navbar-expand-sm  navbar-dark bg-info"> 
                <a href="#" class="navbar-brand d-lg-none" style="width: 25px;">
                    <img src="../../img/sinu.png.png" style="width: 35px; "> Enfermeria   
                </a>
                <br/>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uno" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="uno" >
                    <ul class="navbar-nav mx-auto" >
                        <li class="nav-item"><a href="../Inicio.html" id="txt_menu" class="nav-link active" >INICIO</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="../test_Apgar.php" id="txt_menu" class="nav-link active" >Test de Apgar</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="../test_capurro.php" id="txt_menu" class="nav-link active" >Test de Capurro</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a id="logo" class="nav-link" href="../Inicio.html"><img src="../../img/enfermeria_logo.png" style="width: 35px; ">ENFERMERIA</a> </li>
                        <li class="nav-item"><a href="../info_Mama.php" id="txt_menu" class="nav-link active" >Registro Maternal</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="../info_bebe.php" id="txt_menu" class="nav-link active" >Registro Neonatal</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="../nanda.php" id="txt_menu" class="nav-link active" >NANDA</a></li>
                        

                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            <div class="row" style="margin-top: 30px;">
                <div class="col-12">
                    <div class="col-12">
                        <h3 class="titulos">Dominio 2 Nutrición</h3>
                    </div>
                    <br>
                    <table class="table table-bordered">
                        <thead style="text-align: center;">
                            <tr>
                                <th>Diagnostico de enfermeria</th>
                                <th>Resultados esperados (NOC)</th>
                                <th>Intervenciones (NIC)</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: justify;">
                            <tr>
                                <td><span id="txt">(00107)</span> Patrón de alimentación ineficaz del lactante <span id="txt">R/C </span> anomalía anatómica
                                    secundario a prematuridad, deterioro retraso neurológico M/P Incapacidad para coordinar la succión, la deglución y la respiración. Incapacidad para iniciar una succión eficaz.<br><br>

                                    <i>DEFINICION</i> deterioro de la habilidad para succionar o para coordinar la respuesta de succión y deglución que da lugar a una nutrición oral inadecuada para las necesidades metabólicas.
                                </td>
                                <td><b>Estado nutricional 1004:</b> el recién nacido pre-termino mantendrá un equilibrio hídrico estable.
                                    <b>Escala:</b>  Gravemente comprometida / Sustancialmente / Moderadamente / Levemente / No comprometida.<br>
                                    <b>Indicadores:</b><br>
                                    <b>161207</b> mantiene un buen patrón alimentario
                                    <b>100401</b> ingestión de nutrientes<br>
                                    <b>161221</b> alcanza el peso optimo 
                                </td>
                                <td><b>Manejo de electrolitos 2000:</b> Mantener solución intravenosa que contenga electrolitos para evitar desequilibrio electrolítico.
                                    <b>Actividades: </b>
                                    <ul>
                                        <li>Mantener permeabilidad y vendajes de la vía central.</li>
                                        <li>Observar si hay infiltración e infección.</li>
                                        <li>Mantener una técnica estéril al preparar y colgar las soluciones.</li>
                                        <li>Utilizar una bomba de infusión para el aporte de las soluciones.</li>
                                    </ul>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


        <script src="../../js/jquery-3.3.1.slim.min.js"></script>
        <script src="../../js/popper.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>	
    </body>
</html>
