<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/styles.css">

        <title>Enfermeria</title>
    </head>
    <body>
        <div class="container-float">
            <nav class="navbar navbar-expand-sm  navbar-dark bg-info"> 
                <a href="#" class="navbar-brand d-lg-none" style="width: 25px;">
                    <img src="../img/sinu.png.png" style="width: 35px; "> Enfermeria   
                </a>
                <br/>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uno" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="uno" >
                    <ul class="navbar-nav mx-auto" >
                        <li class="nav-item"><a href="Inicio.html" id="txt_menu" class="nav-link active" >INICIO</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="test_Apgar.php" id="txt_menu" class="nav-link active" >Test de Apgar</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="test_capurro.php" id="txt_menu" class="nav-link active" >Test de Capurro</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a id="logo" class="nav-link" href="Inicio.html"><img src="../img/enfermeria_logo.png" style="width: 35px; ">ENFERMERIA</a> </li>
                        <li class="nav-item"><a href="info_Mama.php" id="txt_menu" class="nav-link active" >Registro Maternal</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="info_bebe.php" id="txt_menu" class="nav-link active" >Registro Neonatal</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item"><a href="nanda.php" id="txt_menu" class="nav-link active" >NANDA</a></li>
                        

                    </ul>
                </div>
            </nav>
        </div>
        
        <div class="container">
            <div class="row" style="margin-top: 30px;">
                <div class="col-12 border" style="text-align: center;"><br>                 

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a  href="Inicio.html">Inicio</a></li>
                        <li class="breadcrumb-item"><a  href="inicio_2.html">Cuidados del cordon umbilical</a></li>
                        <li class="breadcrumb-item"><a  href="Inicio_3.html">Prevencion y control de enfermedades</a></li>
                        <li class="breadcrumb-item"><a  href="Inicio_4.html">Cuidados del recien nacido</a></li>
                        <li class="breadcrumb-item"><a  href="#prevenciones">Prevenciones</a></li>
                        <li class="breadcrumb-item"><a  href="Inicio_3.html">Regresar</a></li>

                    </ul>

                </div>
                <div class="col-5"><br>
                    <h2 class="titulos">Cuidados del recién nacido</h2>
                    <p><br>¿Cuánto debe dormir?<br><br> 
                        Los recién nacidos suelen dormir entre 18 a 22 horas al día. Se despiertan cuando tienen hambre, por un eructo,
                        por frío o un pañal mojado. Sin embargo, hay bebés que duermen menos sin estar enfermos.<br>
                        La mejor posición para acostar al niño es boca arriba o de lado, nunca boca abajo. Esto evita el riesgo de una muerte súbita. <br>
                        <br>¿Cada cuándo debo bañarlo? <br><br>
                        Se recomienda que sea a diario. Use jabón neutro, lave primero la cabeza y cara, cuidando los ojos del bebé,
                        después el resto del cuerpo. No olvide los pliegues de brazos y piernas. En los genitales de las niñas, lave los pliegues o labios mayores.<br><br>
                        Después del baño aplique crema o aceite de almendras dulces en el cuerpo.<br><br>
                        El cordón umbilical lávelo con agua y jabón, séquelo bien. Éste se caerá sólo entre la primera y segunda semanas de vida. No coloque monedas, frijoles, canicas, algodón o cuerpos extraños en el ombligo y tampoco aplique ningún tipo de sustancias. Use ropa limpia diariamente o cada vez que sea necesario.
                        Cambie con frecuencia el pañal para evitar rozaduras. Mantenga limpia la nariz y las orejas del bebé. Corte las uñas de manos y pies cada semana.<br>
                    </p>
                    <br>
                    <img class="img img-fluid" src="../img/cuidado_bebe_6.jpg" style="width: 100%;">
                </div>
                <div class="col-2">
                    <img class="img img-fluid" src="../img/cuidado_bebe_4.jpg" style="margin-top: 50px;">
                    <img class="img img-fluid" src="../img/cuidado_bebe_1.jpg" style="margin-top: 15px;">
                    <img class="img img-fluid" src="../img/cuidado_bebe_7.jpg" style="margin-top: 15px;">
                    <img class="img img-fluid" src="../img/cuidado_bebe.jpg" style="margin-top: 15px;">
                    <img class="img img-fluid" src="../img/cuidado_bebe_2.jpg" style="margin-top: 15px;">
                    <img class="img img-fluid" src="../img/cuidado_bebe_5.jpg" style="margin-top: 15px;">
                    <img class="img img-fluid" src="../img/cuidado_bebe_3.jpg" style="margin-top: 15px;">
                </div>
                <div class="col-5 border" style="text-align:"><br>
                    <h3 class="titulos">LAS DIEZ CLAVES DE LA LACTANCIA (OMS):</h3><br>
                    <ul>
                        <li class="lactancea">1. Amamanta pronto, cuanto antes mejor. Amamantar precozmente facilita la correcta colocación al pecho.</li><br>
                        <li class="lactancea">2. Ofrécele el pecho a menudo, día y noche. Hazte a la idea de que pasarás mucho tiempo amamantando
                            a tu bebé durante estas primeras semanas. Una criatura recién nacida normalmente mama de 8 a 12 veces en 24 horas.
                            No mires el reloj y dale el pecho cada vez que busque o llore, sin esperar a que “le toque”.</li><br>
                        <li class="lactancea">3. Asegúrate de que succiona eficazmente y que la postura sea correcta.</li><br>
                        <li class="lactancea">4. Permite que mame del primer pecho todo lo que desee, hasta que lo suelte. Así, tomará la leche que se produce al final,
                            rica en grasas y calorías como el postre, y se sentirá satisfecho y satisfecha. Después ofrécele el otro.</li><br>
                        <li class="lactancea">5. Cuanto más mame, más leche producirás. No es necesario sentir el pecho lleno, la leche se produce durante la toma gracias a la succión del bebé.</li><br>
                        <li class="lactancea">6. Evita biberones “de ayuda” o de suero glucosado, les llenan y minan su interés por mamar, por lo que el bebé succiona menos y producirás menos leche.</li><br>
                        <li class="lactancea">7. Evita el chupete, al menos durante las primeras semanas, hasta que la lactancia esté bien establecida.
                            Una criatura recién nacida ha de aprender bien cómo mamar, las tetinas artificiales del biberón o el chupete pueden dificultar este aprendizaje.</li><br>
                        <li class="lactancea">8. Recuerda que también maman por razones diferentes al hambre, como por necesidad de succión o de consuelo.</li><br>
                        <li class="lactancea">9. Cuídate. Solicita ayuda a las personas de tu alrededor.</li>
                        <li class="lactancea">10. Busca ayuda, los grupos de apoyo de madres y padres tienen la información y el asesoramiento que toda madre lactante necesita. </li>

                    </ul>
                </div>

                <div class="col-6 border">
                    <br><h3 class="titulos">Prevención de muerte súbita</h3><br>
                    <p>¡Cuidado! Durante el primer año de vida, hay un tipo de muerte en el lactante que se presenta
                        en forma inesperada mientras el niño está dormido, a ésta se le llama muerte súbita o de cuna. <br>
                        Para evitarla: <br>
                    </p>
                    <ul>
                        <li>Acueste siempre a su hijo boca arriba o de lado y en un colchón firme.</li>
                        <li>En la cuna no debe haber ropa de cama suelta ni objetos blandos como almohadas.</li>
                        <li>Evite abrigar en exceso a su bebé.</li>
                        <li>Evite fumar cerca de su hijo.</li>
                        <li>Favorezca el amamantamiento.</li>
                    </ul>
                    <div class="row" id="prevenciones">
                        <div class="col-6 border">

                            <img id="myImg" src="../img/prevencion_1.jpg" alt="Snow" class="img img-fluid">


                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                            <script>

                                var modal = document.getElementById('myModal');


                                var img = document.getElementById('myImg');
                                var modalImg = document.getElementById("img01");
                                var captionText = document.getElementById("caption");
                                img.onclick = function () {
                                    modal.style.display = "block";
                                    modalImg.src = this.src;
                                    captionText.innerHTML = this.alt;
                                }


                                var span = document.getElementsByClassName("close")[0];


                                span.onclick = function () {
                                    modal.style.display = "none";
                                }
                            </script>
                            
                        </div>
                        <div class="col-6" style="margin-top: 25px;">
                             <img id="myImg2" src="../img/prevencion_2.jpg" alt="Snow" class="img img-fluid">


                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                            <script>

                                var modal = document.getElementById('myModal');


                                var img = document.getElementById('myImg2');
                                var modalImg = document.getElementById("img01");
                                var captionText = document.getElementById("caption");
                                img.onclick = function () {
                                    modal.style.display = "block";
                                    modalImg.src = this.src;
                                    captionText.innerHTML = this.alt;
                                }


                                var span = document.getElementsByClassName("close")[0];


                                span.onclick = function () {
                                    modal.style.display = "none";
                                }
                            </script>
                        </div>

                    </div>
                </div>
                
                
                <div class="col-6 border">
                    <br><h3 class="titulos">prevención de accidentes</h3><br>
                    <p>¡Cuidado! Durante el primer año de vida, hay un tipo de muerte en el lactante que se presenta
                        en forma inesperada mientras el niño está dormido, a ésta se le llama muerte súbita o de cuna. <br>
                        Para evitarla: <br>
                    </p>
                    <ul>
                        <li>No deje solo a su bebé por períodos prolongados. Siempre esté al pendiente de él, aun cuando esté dormido .</li>
                        <li>Evite poner a su alcance cojines, trapos o plástico que accidentalmente puedan tapar su carita y ahogarlo o asfixiarlo .</li>
                        <li>Asegúrese de que en el lugar donde lo acuesta no haya mosquitos, arañas, alacranes o algún otro tipo de animales nocivos. </li>

                    </ul>
                    <div class="row">
                        <div class="col-6 border">

                            <img id="myImg" src="../img/prevencion_3.jpg" alt="Snow" class="img img-fluid">
                            
                        </div>
                        <div class="col-6" style="margin-top: ;">
                             <img id="myImg2" src="../img/prevencion_4.jpg" alt="Snow" class="img img-fluid">

                        </div>

                    </div>
                </div>

                <div class="col-12 border" style="text-align: center;"><br>                 

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a  href="Inicio.html">Inicio</a></li>
                        <li class="breadcrumb-item"><a  href="inicio_2.html">Cuidados del cordon umbilical</a></li>
                        <li class="breadcrumb-item"><a  href="Inicio_3.html">Prevencion y control de enfermedades</a></li>
                        <li class="breadcrumb-item"><a  href="Inicio_4.html">Cuidados del recien nacido</a></li>
                        <li class="breadcrumb-item"><a  href="#prevenciones">Prevenciones</a></li>
                        <li class="breadcrumb-item"><a  href="Inicio_3.html">Regresar</a></li>

                    </ul>

                </div>
            </div>
            <br>

            <script src="../js/jquery-3.3.1.slim.min.js"></script>
            <script src="../js/popper.min.js"></script>
            <script src="../js/bootstrap.min.js"></script>	
    </body>
</html>

